* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c59849;
  text-align: center;
}

.container {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Game {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 20px;
}

.box {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  border: none;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-size: 30px;
  color: #522a27;
  background-color: white;
}

#res-btn {
  padding: 5px;
  margin-top: 30px;
  background-color: #292525;
  color: white;
  border-radius: 5px;
  border: none;
}

#new-btn {
  padding: 5px;
  /* margin-top: 30px; */
  background-color: #292525;
  color: white;
  border-radius: 5px;
  border: none;
}
#msg{
    color: white;
    font-size: 40px;
}
.msg-container{
    margin-bottom: 70px;
}

.hide{
    display: none;
}